<div class="container movieContainer">
  <div class="row">
    <div class="col-md-4">
      <img
        class="movieImg"
        src="https://image.tmdb.org/t/p/w440_and_h660_face//mYLOqiStMxDK3fYZFirgrMt8z5d.jpg"
        alt=""
      />
    </div>
    <div
      class="col-md-7 movieDetails"
      *ngFor="let movie of movieDetails?.results; let i = index"
    >
      <h1 class="movieTitle">{{ movie.title }}</h1>
      <h1 class="movieRating">Rated {{ movie.vote_average }}/10</h1>
      <h1 class="moviePlotHeader">Overview</h1>
      <p class="moviePlot">
        {{movie.overview}}
      </p>
      <h1 class="movieCast">Cast: Cast member 1, cast member 2</h1>
    </div>
  </div>
</div>
<div class="container mt-4 border-top">
  <div class="row">
    <h1>Recommended Movies</h1>
    <div
      class="card col-md-4"
      routerLink="/moviedetails"
      *ngFor="let movie of recommendedMovies?.results; let i = index"
    >
      <img src="{{ movie.backdrop_path }}" class="card-img-top" />
      <div class="movie-body">
        <h4 class="movie-title mt-2">{{ movie.title }}</h4>
        <p class="movie-rating">Rated {{ movie.vote_average }}/10</p>
      </div>
    </div>
  </div>
</div>
