<div class="container movieContainer">
  <div class="row">
    <div class="col-md-4">
      <img
        class="movieImg"
        src="https://image.tmdb.org/t/p/w440_and_h660_face//mYLOqiStMxDK3fYZFirgrMt8z5d.jpg"
        alt=""
      />
    </div>
    <div class="col-md-7 movieDetails">
      <h1 class="movieTitle">Title</h1>
      <h1 class="movieRating">8/10</h1>
      <h1 class="moviePlotHeader">Overview</h1>
      <p class="moviePlot">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        voluptatum illum, modi minima laborum sequi cupiditatealias animi. Quia!
      </p>
      <h1 class="movieCast">Cast: Cast member 1, cast member 2</h1>
    </div>
  </div>
</div>
