<div class="carousel slide pb-4">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 95vh">
      <img
        src="https://assets.nflxext.com/ffe/siteui/vlv3/28b69a57-cadf-43d9-8a95-e5f2e11199de/ac7693e4-01bf-491a-a784-885b4e0e284c/LB-en-20221010-popsignuptwoweeks-perspective_alpha_website_large.jpg"
        class="d-block w-100"
      />
      <div class="carousel-caption d-none d-md-block">
        <h1>Browse Movies & TV Shows</h1>
        <p>Ready to watch?</p>
      </div>
    </div>
  </div>
</div>
<!-- popular movies -->
<div class="container">
  <div class="row">
    <h1>Popular Movies</h1>
    <div
      class="card col-md-4"
      routerLink="/moviedetails"
      *ngFor="let movie of popularMovies?.results; let i = index"
    >
      <img src="{{ movie.backdrop_path }}" class="card-img-top" />
      <div class="movie-body">
        <h4 class="movie-title mt-2">{{ movie.title }}</h4>
        <p class="movie-rating">Rated {{ movie.vote_average }}/10</p>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!-- top rated movies -->
<div class="container">
  <div class="row">
    <h1>Top Rated Movies</h1>
    <div
      class="card col-md-4"
      routerLink="/moviedetails"
      *ngFor="let topMovie of topRatedMovies?.results; let i = index"
    >
      <img src="{{ topMovie.backdrop_path }}" class="card-img-top" />
      <div class="movie-body">
        <h4 class="movie-title mt-2">{{ topMovie.title }}</h4>
        <p class="movie-rating">Rated {{ topMovie.vote_average }}/10</p>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!-- upcoming -->
<div class="container">
  <div class="row">
    <h1>Upcoming Movies</h1>
    <div
      class="card col-md-4"
      routerLink="/moviedetails"
      *ngFor="let upcomingMovie of upComingMovies?.results; let i = index"
    >
      <img src="{{ upcomingMovie.backdrop_path }}" class="card-img-top" />
      <div class="movie-body">
        <h4 class="movie-title mt-2">{{ upcomingMovie.title }}</h4>
        <p class="movie-rating">Rated {{ upcomingMovie.vote_average }}/10</p>
      </div>
    </div>
    <!--  -->
  </div>
</div>
