.card {
  border: 0;
  padding: 0;
  border-radius: 10px;
  background-color: transparent;
}

.card img {
  border-radius: 10px;
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  transition: 0.4s;
}

.card h4,
p {
  color: white;
  letter-spacing: 1px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-caption h1 {
  font-size: 50px;
}

.carousel-caption p {
  font-size: 40px;
}

.row h1 {
  font-size: 35px;
  color: #f0ad4e;
}
